body {
    background-color: rgb(255, 253, 240);
    font-family: 'Sono', sans-serif; 
    font-size: 14px;
    font-weight: 400;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: 0 !important;
    user-select: none;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

h1 {
    font-family: 'Sono', sans-serif !important;
    font-size: 24px !important;
}

.photo {
    border-radius: 50%;
}

.menu {
    position: fixed;
}